.vs
node_modules
libs
viewify/**/*.dll
viewify/**/*.tlog
viewify/**/*.obj
viewify/**/*.idb
viewify/**/*.pdb
viewify/**/*.exe*
viewify/**/*.ilk
viewify/**/*.log
viewify/**/*.lib*
viewify/**/*.FileListAbsolute.txt
